<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MJ Island</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script th:src="@{/js/Include.js}"></script> -->
    <script th:src="@{/js/template.js}"></script>
    <link th:href="@{/css/sanitize.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link th:href="@{/css/template.css}" rel="stylesheet" />
    <link th:href="@{/css/SCP-004.css}" rel="stylesheet" />
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
        $(function(){
            $("#header").load("./common/SCP003header.html");
        });
    </script>
</head>

<body class="body_template">
    
        <!-- 定義したヘッダーを表示-->
        <div th:id="header"></div>
    
    <a th:href="@{/#}"><img src="/material/return_button.jpg" alt="戻る" class="return_button"></a>

    <form th:action="@{/GameSetting}" th:object="${gameSettingObject}" method="post">
        <ul class="list-group mg-top-50px">
            <li class="list-group-item mj-list">
                <img src="/material/pictogram_human.jpg">
                <div class="text_item">
                    <!-- 初期値未設定！ -->
                    @＊人選択中
                </div>
                <!-- url未設定！ -->
                <a herf="#">
                    <img src="/material/right_button.jpg" class="right_padding">
                </a>
            </li>
            <li class="list-group-item mj-list">
                <img src="/material/group.jpg">
                <div class="text_item">
                    <!-- 初期値未設定！ -->
                    グループ名
                </div>
                <!-- url未設定！ -->
                <a herf="#">
                    <img src="/material/right_button.jpg" class="right_padding">
                </a>
            </li>
        </ul>

        <ul class="list-group mg-top-50px">
            <li class="list-group-item mj-list">
                <img src="/material/calculator.jpg">
                <div class="text_item">レート</div>
                <input type="number" step="0.1" min="0.0" max="5.0" th:field="*{rating}" class="right_padding">
            </li>
            <li class="list-group-item mj-list">
                <img src="/material/chip.jpg">
                <div class="text_item">チップ</div>
                <input type="number" min="0" max="30" th:field="*{chip}" class="right_padding">
            </li>
        </ul>

        <ul class="list-group mg-top-50px">
            <li class="list-group-item mj-list">
                <img src="/material/trophy.jpg">
                <div class="text_item">タイトル</div>
                <input class="form-control list_text" type="text" aria-label="default input example" th:field="*{scoreTitle}">
            </li>
            <li class="list-group-item mj-list">
                <img src="/material/calendar.jpg">
                <div class="text_item">開催日</div>
                <input class="form-control list_text" type="date" th:field="*{eventDate}">
            </li>
            <li class="list-group-item mj-list">
                <img src="/material/map.jpg">
                <div class="text_item">場所</div>   
                <input class="form-control list_text" type="text" aria-label="default input example"
                th:field="*{location}">
            </li>
            <li class="list-group-item mj-list">
                <img src="/material/pen.jpg">
                <div class="text_item">メモ</div>
                <input class="form-control list_memo" type="text" aria-label="default input example" th:field="*{comment}">
            </li>
        </ul>
        
        <div class="mg-top-50px text_center">
            <button class="btn btn-primary">送信</button>
        </div>

        <input type="hidden" th:field="*{scoreId}">
        <input type="hidden" th:field="*{groupId}">
        <input type="hidden" th:field="*{scoreNumTotal}">
        <input type="hidden" th:field="*{createUser}">
        <input type="hidden" th:field="*{createDateTime}">
        <input type="hidden" th:field="*{updateUser}">
        <input type="hidden" th:field="*{updateDateTime}">
        
    </form>
    
    <div class="mg-top-50px"></div>
</body>

</html>