<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>プレイヤー一覧</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/template.js}"></script>
    <link th:href="@{/css/sanitize.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link th:href="@{/css/template.css}" rel="stylesheet" />
    <link th:href="@{/css/scr003.css}" rel="stylesheet" />

</head>

<body class="body_template">

    <!-- 定義したヘッダーを表示-->
    <div th:replace="common/SCP003header::header"></div>

    <nav class="navbar">
        <a th:href="@{/#}"><img src="/material/return_button.jpg" alt="戻る" class="return_button"></a>
        <div>
            
            <a th:if="${sort == 'playerId'}" th:href="@{/PlayerList/{sort}(sort='playerName')}"><img src="/material/sort.png"
                alt="並び替え" class="return_button"></a>
            <a th:if="${sort == 'playerName'}" th:href="@{/PlayerList/{sort}(sort='playerId')}"><img src="/material/sort.png"
                alt="並び替え" class="return_button"></a>
            <a th:href="@{/PlayerRegistration}"><img src="/material/plus.jpg" alt="登録" class="return_button"></a>
        </div>
    </nav>

    <h4>プレイヤーを登録してください</h4>

    <div class="mg-top-20px"></div>

    <div style="height:260px; overflow-y:scroll;">
        <table class="table">
            <thead>
                <tr>
                    <th class="wd-20px"></th>
                    <th class="wd-70px">ID</th>
                    <th class="wd-120px">プレイヤー名</th>
                    <th class="wd-200px">所属グループ</th>
                    <th>コメント</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="playerList : ${playerListForm}" th:object="${player}">
                    <td valign="middle">
                        <!-- <img th:src="@{/material/star.png}" id="toggleButton" onclick="changeImage()"> -->
                    </td>
                    <td th:text="${playerList.playerId}" class="table-data" valign="middle">Player ID</td>
                    <td th:text="${playerList.playerIdName}" class="table-data" valign="middle">Player ID</td>
                    <td th:text="${playerList.playerInGroup}" class="table-data" valign="middle">Player Name</td>
                    <td th:text="${playerList.comment}" class="table-data" valign="middle">
                        <div class="table-data">Comment</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>