<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>スコア一覧</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/template.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/scr003.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <!-- マルチセレクト用js/css-->
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">


    <!-- ヘッダーの書き方１
        <script src="../static/js/header.js"></script>
        -->
    <!-- ヘッダーの書き方２　こっちを採用！！-->
    <!-- <script>
            $(function () {
                $("#header").load("./common/SCP003header.html");
            });
        </script> -->
</head>

<body>
    <!-- 定義したヘッダーを表示-->
    <!-- <div id="header"></div> -->
    <div th:replace="~{common/SCP003header::header}"></div>

    <!-- フィルター部分-->
    <div class="container" id="filter">
        <div class="row">
            <div class="col-5" id="filter-return">
                <input type="image" th:src="@{/material/return_button.jpg}" alt="戻る" name="return" width="20px"
                    hight="20px">
            </div>

            <div class="col-1" id="filter-favo">
                <p><button type="button" class="favoButton" value="1">★</button></p>
            </div>

            <div class="col">
                <!-- 参考：https://qiita.com/yoyoyo_pg/items/4859dfbbc512ef653828-->
                <!-- <select id="playerList" multiple="multiple" style="width:200px;"> -->
                <select>
                    <option value="null">===プレイヤーを選択===</option>
                    <option th:each="item : ${playerList}"
                            th:value="${item.player_id}"
                            th:text="${item.player_name}">
                        </option>
                </select>
            </div>

            <div class="col" id="filter-eventDateFrom">
                <label for="eventDateFrom">開催日From</label><br>
                <input type="date" name="eventDateFrom" id="eventDateFrom">
            </div>
            <div class="col" id="filter-eventDateTo">
                <label for="eventDateTo">開催日To</label><br>
                <input type="date" name="eventDateTo" id="eventDateTo">
            </div>
        </div>

        <!-- <div class="row">
            <div class="col">
                <table>
                    <tr th:each="item : ${memberList}">
                        <td th:text="*{item.member_id}"></td>
                        <td th:text="*{item.member_mail_address}"></td>
                        <td th:text="*{item.member_password}"></td>
                        <td th:text="*{item.del_flg}"></td>
                        <td th:text="*{item.create_user}"></td>
                        <td th:text="*{item.create_datetime}"></td>
                        <td th:text="*{item.update_user}"></td>
                        <td th:text="*{item.update_datetime}"></td>
                    </tr>
                </table>
            </div>
        </div> -->
        <br><br>
        <!-- <ul class="list-group"  th:each="item : ${scoreList}">
            <li class="list-group-item flex">
                <input type="hidden" name="scoreId" th:value="${item.score_id}"> 
                <img th:if="${item.favorite_flg == '1'}" th:src="@{/material/star.png}" class="star mg-15px">
                <img th:unless="${item.favorite_flg == '1'}" class="star mg-15px">
                <span class="wd-200px">
                    <div><span th:text="${item.event_date}"></span></div>
                    <div><p th:text="${item.group_id}"></p></div>
                </span>
                <span class="wd-200px hg-40px font-size-33px" th:text="${item.score_title}" onclick="location.href='/GameSetting'"></span>
                <span class="resize-none wd-200px line_wrap2" th:text="${item.comment}"></span>
            </li>
        </ul> -->
        <ul class="list-group"  th:each="item : ${scoreList}">
            <li class="list-group-item flex">
                <!-- <a th:href="@{/GameSetting/{scoreId}(scoreId=${item.score_id})}"> -->
                <input type="hidden" name="scoreId" th:value="${item.score_id}"> 
                <img th:if="${item.favorite_flg == '1'}" th:src="@{/material/star.png}" class="star mg-auto col-1">
                <img th:unless="${item.favorite_flg == '1'}" class="mg-auto col-1">
                <span class="col-3">
                    <div><span th:text="${item.event_date}"></span></div>
                    <div><p th:text="${item.group_id}"></p></div>
                </span>
                <span class="col-5 hg-40px font-size-33px" th:text="${item.score_title}" onclick="location.href='/GameSetting'"></span>
                <span class="resize-none col-3 line_wrap2" th:text="${item.comment}"></span>
                <!-- </a> -->
            </li>
        </ul>
    </div>

    <script>
        $(function () {
            $('select').multipleSelect({
                width: 200,
                formatSelectAll: function () {
                    return 'Select All';
                },
                formatAllSelected: function () {
                    return 'Selected All';
                }
            });
        });
    </script>



</body>
</html>