<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/js/template.js}"></script>
    <title>Toggle Image Example</title>
</head>
<body>

    <!-- 画像をクリックするたびに画像をトグル -->
    <img id="toggleButton" th:src="@{/material/star.png}" alt="Image 1" onclick="toggleImage()">
    
    <!-- <script>
        var imageToggleState = 1;  // 初期状態は1

        function toggleImage() {
            var img = document.getElementById('toggleButton');
            if (imageToggleState === 1) {
                img.src = '/material/star_empty.png';
                img.alt = 'Image 2';
                imageToggleState = 2;
            } else {
                img.src = '/material/star.png';
                img.alt = 'Image 1';
                imageToggleState = 1;
            }
        }
    </script> -->
</body>
</html>
